@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*ESTILOS GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

.image {
    display: none;
    }


/*ESTILOS DE HEADER*/

h1{
    padding: 10px;
    font-size:60px;
}

header {
    background:url('../img/design1_image1.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 #Logo {
    height: 100px;
    display: block;
    border: 2px solid black;
    position: absolute;
    top: 175px;
    right: 80px;
 }

 nav{
    position:absolute;
    top:240px;
    margin:30px;
    padding:10px;
 }

 nav a {
    display:block;
    padding: 10px;
    margin: 30px;
    color: blue;
    cursor: pointer; 
 }

 nav a:hover{
    color: black;
    text-decoration: none;    
 }

h2{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding: 10px;
}

ul {
    position: relative;
    left:250px;
    top: 55px;
    list-style-type: none;
}

li{
    padding: 10px;
}


.title-date{
    font-size: 25px;    
}

.text{
    margin-left: 20px;
}

/*ESTILOS DE ABOUT*/

.article {
    width: 50rem;
    display: block;
    position:relative;
    left: 200px;
    top: 50px;
    text-indent:15px;
}

/*ESTILOS DE CONTACT*/
.contact {
position: relative;
left: 210px;
top: 70px;
padding: 10px;
}