
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*ESTILOS GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;     
}

.image {
    transform: translate(60px,75px);
    height: 300px;
    border-radius: 50px;
    border-style: dashed;
    border-width: 5px;   
}


/*ESTILOS DE HEADER*/

h1{
    display:block;
    font-size:75px;
    font-style: italic;
    font-weight:bold;
    text-align: center;
    background:linear-gradient(to top, #ffff00 34%, #000000 99%);
}

header {

    background:url('../img/design1_image2.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 300px;   
}

 #Logo {
    height: 139px;
    display: block;
    border-radius: 92px;
    border: 6px solid yellow;
    background-color: black;
    position: absolute;
    top: 256px;
    right:65px;
 }

 nav{
    position:absolute;
    top: 275px;
    left: 17px;  
 }

 .nav1,
 .nav2,
 .nav3,
 .nav4,
 .nav5  {
    display:inline-block;
    padding: 5px 10px;
    margin: 7px;
    background-color: #FFFF00;
    color:black;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    border:2px solid black; 
    border-radius: 20px;
    box-shadow: 2px 5px 5px #606060;  
 }

 .nav1:hover, 
 .nav2:hover,
 .nav3:hover,
 .nav4:hover,
 .nav5:hover {
    background-color: #FF0000;
    transform: scale3d(1.2,1.2,1.2);    
 }

.active{
    background-color: #FF0000;    
}

h2{
    display:block;
    background-color:#5FA199;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;   
}

ul {
    position: relative;
    left: 666px;
    bottom:205px;
    list-style-type: none;
}

li{
    padding: 10px;
}


.title-date{
    font-size: 25px;
    font-weight:bold;   
}

.text{
    margin-left: 20px;
    font-weight: 400;
}

/*ESTILOS DE ABOUT*/

h3{
    font-weight:900;
    font-size: 25px;
}

.article {
    width: 50rem;
    display: block;
    position:relative;
    left: 515px;
    bottom: 196px;
    text-indent:15px;
    padding: 5px;
    margin: 5px;
}

.article:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    cursor: default;
    transform: scale3d(1.1,1.1,1.1);
}

/*ESTILOS DE CONTACT*/
.card{
    display: inline-block;
    background-color: yellow;
    border: 2px black; 
    border-radius: 10px;
    border-style: dotted;
    position: relative;
    left: 269px;
    bottom: 112px;
    padding: 25px;  
}

.card:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transform: translateY(-10%);
}

/*ESTILOS GAME INFO*/

table {
        margin: 50px;
        width: 100%;
        height: 75%;
        border-collapse: collapse;
        text-align: center;
      }
    
th, td {
        padding: 5px;
}

.title-game-info{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.text-rules{
    text-decoration: underline;
}
b{
    font-weight: 900;
}

table{
    background-color: rgba(255,255,255,0.3);
    table-layout: auto;
    width: 50%;
    white-space: nowrap;
    justify-content: center;
}

.information{
    align-items: flex-start;
    margin-left: 80px;
    text-indent: 10px;
}

/*ESTILOS DE RULES*/

.title-rules{
    display: flex;
    flex-direction:column;
}

.main-rules{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.conteiner1{
    padding: 10px;
    margin: 20px;
    border: 2px red;
}    

#title-container1{
    font-size: xx-large;
    font-style: oblique;
    text-shadow: 1px 1px 3px gray;
}

.container2 {
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #FFFF00;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}
.container2:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: antiquewhite;
    border-radius: 15px;
    cursor: default;
    margin: 30px 50px;
    transform: scale3d(1.1,1.1,1.1);
}

ol{
    text-indent: 10px;
    line-height: normal;
}
.list{
    list-style: decimal;
    list-style-position:inside;
}

.sub-list{
    list-style:lower-latin;
    list-style-position: inside;
}

.list2{
    list-style: circle;
    list-style-position: inside;
    margin-left: 10px;
}

.img-buttom{
    width: 80px;
    height: 80px;
    background-color: #5FA199;
    border: 5px black; 
    border-radius: 50px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    transform: rotate(271deg);
    box-shadow: 5px black;
}